/**
 * Reset some basic elements
 */
 body, h1, h2, h3, h4, h5, h6,
 p, blockquote, pre, hr,
 dl, dd, ol, ul, figure {
   margin: 0;
   padding: 0;
 }

 /**
  * Basic styling
  */
 body {
   font-family: $base-font-family;
   font-size: $base-font-size;
   line-height: $base-line-height;
   color: $text-color;
   background-color: $background-color;
   -webkit-text-size-adjust: 100%;
   -webkit-font-feature-settings: "kern" 1;
      -moz-font-feature-settings: "kern" 1;
        -o-font-feature-settings: "kern" 1;
           font-feature-settings: "kern" 1;
   font-kerning: normal;
   display: flex;
   min-height: 100vh;
   flex-direction: column;
 }

 /**
  * Set `margin-bottom` to maintain vertical rhythm
  */
 h1, h2, h3, h4, h5, h6,
 p, blockquote, pre,
 ul, ol, dl, figure,
 %vertical-rhythm {
   margin-bottom: $spacing-unit / 2;
 }

 /**
  * Images and media
  */
 img {
   max-width: 100%;
   vertical-align: middle;
 }

 /**
  * Links
  */
 a {
   color: $brand-green;
   text-decoration: none;

   &:visited {
     color: darken($brand-green, 10%);
   }

   &:hover {
     color: $text-color;
     text-decoration: underline;
   }
 }

 /**
  * Lists
  */
 ul, ol {
   margin-left: $spacing-unit;
 }

 li {
   > ul,
   > ol {
     margin-bottom: 0;
   }
 }

 /**
  * Cards
  */
 .card {
   background: white;
   border-radius: 8px;
   box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
   padding: $spacing-unit;
   margin-bottom: $spacing-unit;
   border: 1px solid $grey-color-light;
 }